<footer class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <div class="footer-wrapper-text">
        <p class="footer-text">homemade ice cream made</p>
        <p class="footer-text--accent">with passion</p>
      </div>

      <div class="footer-wrapper-contacts">
        <ul class="social-list list">
          <li class="social-item">
            <a class="social-link" href="">
              <svg class="social-icon">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a class="social-link" href="">
              <svg class="social-icon">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a class="social-link" href="">
              <svg class="social-icon">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="footer-contacts">
          <span>Feel free to contact</span>
          <a class="footer-contacts-phone" href="tel:+610383766284"
            >+61 (0) 383 766 284</a
          >
        </p>
      </div>
    </div>

    <div class="footer-wrapper-copyright">
      <p class="footer-coperight-text">
        &#169; 2022 - IceCream. All Rights Reserved.
      </p>
    </div>
  </div>
</footer>
