<header class="header">
  <div class="container">
    <div class="header-wrapper">
      <a class="header-logo" href="./index.html">
        <svg class="header-logo-icon">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </a>

      <nav class="header-nav">
        <ul class="menu-list list">
          <li class="menu-item"><a class="menu-link" href=""> Home</a></li>
          <li class="menu-item">
            <a class="menu-link" href=""> How it’s made?</a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href=""> Our products</a>
          </li>
          <li class="menu-item"><a class="menu-link" href=""> Contact</a></li>
        </ul>
      </nav>

      <div class="tablet-wrapper">
        <svg class="menu-button" width="32" height="32">
          <use class="menu-open" href="./images/icons.svg#icon-open"></use>
        </svg>

        <button class="header-btn button primary">Buy now</button>
      </div>
    </div>

    <div class="burger-menu is-hidden">
      <div class="burger-wrapper">
        <a class="header-logo" href="./index.html">
          <svg width="40" height="37">
            <use href="./images/icons.svg#icon-logo"></use>
          </svg>
        </a>

        <svg class="menu-button" width="32" height="32">
          <use class="menu-close" href="./images/icons.svg#icon-close"></use>
        </svg>
      </div>

      <ul class="burger-list list">
        <li class="burger-item"><a class="burger-link" href=""> Home</a></li>
        <li class="burger-item">
          <a class="burger-link" href=""> How it’s made?</a>
        </li>
        <li class="burger-item">
          <a class="burger-link" href=""> Our products</a>
        </li>
        <li class="burger-item"><a class="burger-link" href=""> Contact</a></li>
      </ul>

      <button class="burger-btn button primary">Buy now</button>
    </div>
  </div>
</header>
