<div class="backdrop-prod2 is-hidden">
  <div class="modal-prod2">
    <svg class="icon-cross" width="20" height="20" prod2-close>
      <use href="./images/icons.svg#icon-cross"></use>
    </svg>

    <p class="modal-title">Chololate ice coffee</p>

    <img
      class="modal-prod2-image"
      srcset="
        ./images/ingridients-modal.jpg 1x,
        ./images/ingridients-modal.jpg 2x
      "
      alt=""
    />
    <ul class="prod2 kcal-list list">
      <li class="kcal-item">
        <div class="kcal-name">
          <div class="kcal-num">320</div>
          kcal
        </div>
      </li>
      <li class="kcal-item">
        <div class="kcal-name">
          <div class="kcal-num">4</div>
          Proteins
        </div>
      </li>
      <li class="kcal-item">
        <div class="kcal-name">
          <div class="kcal-num">8.2</div>
          Fats
        </div>
      </li>
      <li class="kcal-item">
        <div class="kcal-name">
          <div class="kcal-num">40.4</div>
          Carbs
        </div>
      </li>
    </ul>

    <p class="modal-list-title">Ingredients</p>

    <ul class="prod2 ingridients-list list">
      <li class="ingridients-item">
        <p class="ingridients-text">Milk</p>
        <p class="ingridients-text">100ml</p>
      </li>
      <li class="ingridients-item">
        <p class="ingridients-text">Belgian chocolate</p>
        <p class="ingridients-text">20g</p>
      </li>
      <li class="ingridients-item">
        <p class="ingridients-text">Cream</p>
        <p class="ingridients-text">150ml</p>
      </li>
      <li class="ingridients-item">
        <p class="ingridients-text">Cocoa powder</p>
        <p class="ingridients-text">30g</p>
      </li>
      <li class="ingridients-item">
        <p class="ingridients-text">Sugar</p>
        <p class="ingridients-text">40g</p>
      </li>
      <li class="ingridients-item">
        <p class="ingridients-text">Vanilla sugar</p>
        <p class="ingridients-text">10g</p>
      </li>
    </ul>

    <form buy-now-form>
      <label class="form-field">
        <input
          class="form-input"
          type="text"
          name="name"
          id="name"
          placeholder="Name"
        />
      </label>

      <label class="form-field">
        <input
          class="form-input"
          type="tel"
          name="phone"
          id="phone"
          placeholder="Phone"
        />
      </label>

      <label class="form-field">
        <textarea
          class="form-textarea"
          name="comment"
          id="comment"
          placeholder="Comment"
        ></textarea>
      </label>

      <button class="form-button button primary" type="submit">Submit</button>
    </form>
  </div>
</div>
