<div class="backdrop-prod is-hidden">
  <div class="modal-how-made">
    <svg class="icon-cross" width="20" height="20">
      <use href="./images/icons.svg#icon-cross"></use>
    </svg>

    <p class="modal-title">How it’s made?</p>

    <div class="modal-how-video">
      <iframe
        width="448"
        height="205"
        src="https://www.youtube.com/embed/Mjl3KF6O8zc"
        title="Peppa Pig Runs a Ice Cream Van! | Family Kids Cartoon"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
    <p class="modal-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>
