<div class="backdrop-our-locations is-hidden">
  <div class="modal-our-locations">
    <svg class="icon-cross" width="20" height="20" close-locations>
      <use href="./images/icons.svg#icon-cross"></use>
    </svg>

    <p class="modal-title">Our Locations</p>

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m25!1m12!1m3!1d48954.00776937525!2d23.988572328293287!3d49.845687344765736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m10!3e6!4m3!3m2!1d49.844699999999996!2d24.071045299999998!4m4!2s49.837230%2C%2024.035886!3m2!1d49.83723!2d24.035885999999998!5e0!3m2!1suk!2sua!4v1680795569941!5m2!1suk!2sua"
      width="448"
      height="260"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>

    <button class="button primary" type="button">Open map</button>
  </div>
</div>
