<section class="places">
  <div class="container">
    <div class="places-wrapper">
      <ul class="places-list list">
        <li class="places-item">
          <p class="places-accent">CAFE</p>
          <div class="places-item-wrapper">
            <p class="places-city">Chicago</p>
            <p class="places-adderss">
              10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
            </p>
          </div>
          <div class="places-item-wrapper">
            <p class="places-working-days">Monday - Friday</p>
            <p class="places-working-hours">06:00 AM - 10:00 PM</p>
            <p class="places-working-days">Saturday - Sunday</p>
            <p class="places-working-hours">08:00 AM - 16:00 PM</p>
          </div>

          <p class="places-contacts phone">+61(0) 383 766 284</p>
          <p class="places-contacts mail">noreply@envato.com</p>
        </li>
        <li class="places-item">
          <p class="places-accent">FOOD TRUCK</p>
          <div class="places-item-wrapper">
            <p class="places-text">Los Angeles</p>
            <p class="places-adderss">
              1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
            </p>
          </div>
          <div class="places-item-wrapper">
            <p class="places-text">Monday - Friday</p>
            <p class="places-working-hours">06:00 AM - 10:00 PM</p>
            <p class="places-text">Saturday - Sunday</p>
            <p class="places-working-hours">08:00 AM - 16:00 PM</p>
          </div>

          <p class="places-contacts phone">+61(0) 383 766 284</p>
          <p class="places-contacts mail">noreply@envato.com</p>
        </li>
        <li class="places-item">
          <p class="places-accent">CAFE</p>
          <div class="places-item-wrapper">
            <p class="places-text">New York</p>
            <p class="places-adderss">
              726 Sterling Pl, Brooklyn, NY 11222, USA
            </p>
          </div>
          <div class="places-item-wrapper">
            <p class="places-text">Monday - Friday</p>
            <p class="places-working-hours">06:00 AM - 10:00 PM</p>
            <p class="places-text">Saturday - Sunday</p>
            <p class="places-working-hours">08:00 AM - 16:00 PM</p>
          </div>
          <p class="places-contacts phone">+61(0) 383 766 284</p>
          <p class="places-contacts mail">noreply@envato.com</p>
        </li>
      </ul>
      <ul class="locations-list list">
        <li>
          <button class="button primary" loc-modal-open>Our Locations</button>
        </li>
        <li>
          <button class="button secondary" fran-modal-open>Franchise</button>
        </li>
      </ul>
    </div>
  </div>
</section>
