<section class="products">
  <div class="container">
    <h2>
      <p class="header-secondary">100% natural</p>
      <p class="header-primary">products</p>
    </h2>
    <ul class="product-list list">
      <li class="product-item">
        <article class="prod-card ice-cream">
          <div class="card-thumb">
            <picture>
              <source
                media="(min-width: 1200px )"
                srcset="
                  ./images/prod1-desk.jpg    1x,
                  ./images/prod1-desk-2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="./images/prod1-tab.jpg 1x, ./images/prod1-tab-2x.jpg 2x"
              />
              <source
                media="(max-width: 767px)"
                srcset="./images/prod1-mob.jpg 1x, ./images/prod1-mob-2x.jpg 2x"
              />

              <img
                class="card-image ice-cream"
                src="./images/prod1-mob.jpg"
                alt=""
              />
            </picture>
          </div>
          <div class="card-meta">
            <div class="card-title">ice cream</div>
            <div class="card-text">
              Soft ice cream with a delicate taste. Made with milk, cream, sugar
              and natural stabilizer
            </div>
            <div class="card-icon">
              <a class="icon-arrow" href="#" prod1-open>
                <svg class="icon-arrow1" width="40" height="32">
                  <use href="./images/icons.svg#icon-arrow1"></use>
                </svg>
                <svg class="icon-arrow2" width="50" height="32">
                  <use href="./images/icons.svg#icon-arrow2"></use>
                </svg>
                <svg class="icon-arrow3" width="50" height="32">
                  <use href="./images/icons.svg#icon-arrow3"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
      </li>
      <li class="product-item">
        <article class="prod-card ice-coffe">
          <div class="card-thumb">
            <picture class="ice-coffe-img">
              <source
                media="(min-width: 1200px )"
                srcset="
                  ./images/prod2-desk.jpg    1x,
                  ./images/prod2-desk-2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="./images/prod2-tab.jpg 1x, ./images/prod2-tab-2x.jpg 2x"
              />
              <source
                media="(max-width: 767px)"
                srcset="./images/prod2-mob.jpg 1x, ./images/prod2-mob-2x.jpg 2x"
              />

              <img
                class="card-image ice-coffe"
                src="./images/prod2-mob.jpg"
                alt="ice-coffe"
              />
            </picture>
          </div>
          <div class="card-meta">
            <div class="card-title">ice coffee</div>
            <div class="card-text">
              Fragrant invigorating drink created from 100% natural ingredients
              without the use of preservatives and flavor enhancers
            </div>
            <div class="card-icon">
              <a class="icon-arrow" href="#" prod2-open>
                <svg class="icon-arrow1" width="40" height="32">
                  <use href="./images/icons.svg#icon-arrow1"></use>
                </svg>
                <svg class="icon-arrow2" width="50" height="32">
                  <use href="./images/icons.svg#icon-arrow2"></use>
                </svg>
                <svg class="icon-arrow3" width="50" height="32">
                  <use href="./images/icons.svg#icon-arrow3"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
      </li>
      <li class="product-item">
        <article class="prod-card milkshake">
          <div class="card-thumb">
            <picture>
              <source
                media="(min-width: 1200px )"
                srcset="
                  ./images/prod3-desk.jpg    1x,
                  ./images/prod3-desk-2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="./images/prod3-tab.jpg 1x, ./images/prod3-tab-2x.jpg 2x"
              />
              <source
                media="(max-width: 767px)"
                srcset="./images/prod3-mob.jpg 1x, ./images/prod3-mob-2x.jpg 2x"
              />

              <img
                class="card-image milkshake"
                src="./images/prod3-mob.jpg"
                alt=""
              />
            </picture>
          </div>
          <div class="card-meta">
            <div class="card-title">milkshakes</div>
            <div class="card-text">
              Sweet drinks based on milk and ice cream, supplemented with
              syrups, fruits, berries and other sweets of your choice
            </div>
            <div class="card-icon" prod3-open>
              <a class="icon-arrow" href="#">
                <svg class="icon-arrow1" width="40" height="32">
                  <use href="./images/icons.svg#icon-arrow1"></use>
                </svg>
                <svg class="icon-arrow2" width="50" height="32">
                  <use href="./images/icons.svg#icon-arrow2"></use>
                </svg>
                <svg class="icon-arrow3" width="50" height="32">
                  <use href="./images/icons.svg#icon-arrow3"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
