.icon-arrow  {
    display: block;
    .icon-arrow1 {
        display: block;
        fill: currentColor;
    }
    
   .icon-arrow2 {
        display: none;
    }
    .icon-arrow3 {
        display: none;
    }
}

.icon-arrow:hover {
    .icon-arrow2 {
        display: block;
        fill: currentColor;
    }
    
    .icon-arrow1 {
        display: none;
    }
    
    .icon-arrow3 {
        display: none;
    }
}

.icon-arrow:focus  {
    .icon-arrow3 {
        display: block;
        fill: currentColor;
    }
    
    .icon-arrow1 {
        display: none;
    }

    .icon-arrow2 {
        display: none;
    }

}

// .icon-pointer {
//     fill: $black;
// }

