.button {
    display: inline-block;
    padding: 12px 34px;
    border: 2px solid $yellow;
    border-radius: 10px;

    @include typography (600, 14px, 1.29);   
}

.products {
    @include mobi-tab{
        display: inline-block;
        padding: 5px 10px;
        
        @include typography (600, 8px, 1.25);
    }
}

.button.primary {
    background-color: $yellow;

    &:hover {
        border-radius: 2px solid $green;
        background-color: $green;
    }

    &:focus {
        border-radius: 2px solid $green;
        background-color: $green;
        color: #ffffff;
    }

    &:disabled {
        border-radius: 2px solid $grey;
        background-color: $grey;
    }
}

.button.secondary {
    background-color: transparent;

    &:hover {
        border-radius: 2px solid $green;        
    }

    &:focus {
        border-radius: 2px solid $green;
        color: #ffffff; 
    }

    &:disabled {
        border-radius: 2px solid $grey;
    }
}

