.button {
    display: inline-block;
    padding: 12px 34px;
    border: 2px solid $yellow;
    border-radius: 10px;

    @include typography (600, 14px, 1.29);   
}

.prod {
    @include mobi-tab{
        
        padding: 5px 10px;
        @include typography (600, 8px, 1.25);
    }
}

.button.primary {
    background-color: $yellow;

    &:hover {
        border-color: $green;
        background-color: $green;
        color:#ffffff;
    }

    &:focus {
        border-color: $green;
        background-color: $green;
        color: #ffffff;
    }

    &:disabled {
        border-color: $grey;
        background-color: $grey;
    }
}

.button.secondary {
    background-color: transparent;

    &:hover {
        border-color: $green;  
        color: #ffffff;      
    }

    &:focus {
        border-color: $green;
        color: #ffffff; 
    }

    &:disabled {
        border-color: $grey;
    }
}

