.header {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
}

.header-wrapper {
    align-items: center;
    display: flex;

    @include mobile {
        margin-top: 16px;
        justify-content: space-between;
    }

    @include tablet {
        margin-top: 20px;
        justify-content: space-between;
    }
}



.header-logo-icon {
    @include mobile {
        width: 40px;
        height: 37px;        
    }

    @include tablet {
        width: 48px;
        height: 44px;        
    }

    @include desktop {
        width: 60px;
        height: 65px;
    }
}

.tablet-wrapper {
    @include tablet {
        display: flex;
        align-items: center;
        gap: 32px;
    }
    
}

.menu-button {
    
    fill: $white;

    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.menu-button:hover {
    fill: $yellow;
}

.burger-menu {
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    
    width: 100vw;
    height: 100vh;

    @include mobile {
        display: flex;
        flex-direction: column;
        padding-bottom: 64px;
        
        background-color: $green-backgr;
        text-align: center;
    }

    @include tablet {
        padding-bottom: 64px;
        text-align: center;
        
        background-color: $light-green-backgr;
    }

    @include desktop {
        display: none;
    }
}

.burger-wrapper {
    display: flex;
    justify-content: space-between;

    @include mobile {
        margin-top: 12px;
        margin-left: 31px;
        margin-right: 20px;
    }

    @include tablet {
        margin-top: 20px;
        margin-left: 32px;
        margin-right: 32px;   
    }
}


.burger-menu.is-hidden {
    display: none;
}

.burger-list {
    @include mobile {
        flex-grow: 1;
        margin-top: 51px;
    }
    
    @include tablet {
        margin-top: 76px;
        
    }
}


.burger-link {
    color: $white;
    
    text-align: center;
    text-decoration: none;

    &:hover, &:focus {
        color: $black;
    }

    @include mobile {
        @include typography (700, 32px, 1.22);
    }

    @include tablet {
        @include typography (700, 48px, 1.23);    
    }

}

.burger-item:not(:last-child) {
    margin-bottom: 40px;
}

.burger-btn {
    // display: block;
    // margin-top: auto;
    margin-left: auto;
    margin-right: auto;

    @include tablet {
        display: none;
    }
    
}

.header-nav {
    @include mobi-tab {
        display: none;
    }
}

.header-btn {
    @include mobile {
        display: none;
    }
}

.menu-list {
    display: flex;
    gap: 27px;
}



.menu-link {
    
    color: $white;

    &:hover {
        color: $yellow;
    }

    &:focus {
        color: $green;
    }

    &:disabled {
        color: $grey;
    }

}